{ 
	"prefix": "!",
	"token": "Replace-me-with-a-real-token",
	"db": {
		"database": "database-name",
		"user": "database-userName",
		"dbpw": "database-pw-insert",
		"host": "database-hostAdress",
		"dialect": "mysql/postgresql, example 'mysql'"
	}
}
